<footer>
  <div class="footer-container">
    <div class="logo-nav-container">
      <div>
        <img src="assets/images/logo_heca_bn.png" alt="">
      </div>
      <div>
        <nav class="nav-list">
          <ul class="ul-left">
            <li>
              <a>Inicio</a>
            </li>
            <li>
              <a>Nosotros</a>
            </li>
            <li>
              <a>Productos</a>
            </li>
            <li>
              <a>Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <hr>
    <div class="copyright">
      <p>© Copyright 2024 DIHECA. All Rights Reserved.</p>
    </div>
  </div>
</footer>
