<footer>
  <div class="footer-container">
    <div class="logo-nav-container">
      <div style="cursor: pointer;" (click)="scrollToTop()">
        <img routerLink="/" src="assets/images/logo_heca_bn.png" alt="logo_heca">
      </div>
      <div>
        <nav class="nav-list">
          <ul class="ul-left">
            <li style="display: flex;">
              <a routerLink="/" (click)="scrollToTop()">{{ 'header.home' | translate }}</a>
            </li>
            <li style="display: flex;" (click)="scrollToTop()">
              <a routerLink="/nosotros">{{ 'header.about' | translate }}</a>
            </li>
            <!-- <li>
              <a routerLink="/productos">Productos</a>
            </li> -->
            <li style="display: flex;" (click)="scrollToTop()">
              <a routerLink="/contacto">{{ 'header.contact' | translate }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <hr>
    <div class="copyright">
      <p>© Copyright 2024 DIHECA. All Rights Reserved.</p>
      <p>v 1.0.1</p>
    </div>
  </div>
</footer>
