<header [class.scrolled-down]="isScrolled" style="z-index: 999;">
  <div class="header-container">
    <div class="menu">
      <nav class="nav-list">
        <ul class="ul-left">
          <li>
            <a style="text-decoration: unset;" routerLink="/">{{ 'header.home' | translate }}</a>
          </li>
          <li>
            <a style="text-decoration: unset;" routerLink="/nosotros">{{ 'header.about' | translate }}</a>
          </li>
          <li class="productos">
            <a class="anchor-nav">{{ 'header.products' | translate }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
              </svg></a>
            <ul class="submenu">
              <li><a routerLink="/productos/clarificacion-y-filtracion">{{ 'home.listProducts.titleProduct1' | translate }}</a></li>
              <li><a routerLink="/productos/sistemas-vapor-y-condensados">{{ 'home.listProducts.titleProduct2' | translate }}</a></li>
              <li><a routerLink="/productos/sistemas-enfriamento">{{ 'home.listProducts.titleProduct3' | translate }}</a></li>
              <li><a routerLink="/productos/diseno-plantas-tratamiento-aguas">{{ 'home.listProducts.titleProduct4' | translate }}</a></li>
              <li><a routerLink="/productos/industria-papelera">{{ 'home.listProducts.titleProduct5' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="logo" routerLink="/">
      <img src="assets/images/logo_heca.png" alt="">
    </div>
    <div class="menu">
      <nav class="nav-list">
        <ul class="ul-right">
          <li>
            <a style="text-decoration: unset;" routerLink="/contacto">{{ 'header.contact' | translate }}</a>
          </li>
          <li>
            <a class="call">{{ 'header.call' | translate }}</a>
          </li>
          <li class="idiomas" (click)="changeLanguage($event);" style="display: block;">
            <a class="anchor-nav">{{ 'header.language' | translate }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
              </svg></a>
            <ul class="submenu">
              <li><a data-value="es">Español</a></li>
              <li><a data-value="en">English</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header-mobile-container" *ngIf="windowWidth < 1024">
    <div class="header-mobile-content">
      <div class="logo-mobile" routerLink="/">
        <img src="assets/images/logo_heca.png" alt="">
      </div>
      <div class="burguer-icon-container">
        <div (click)="toggleDiv2($event);changeLanguage($event);" style="width: inherit;height:inherit;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" [class.svg-burguer]="!isScrolled"
            style="width: 34.39px;height:34.39px;">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5v39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9v39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7v-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1H257c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z" />
          </svg>
          <ul class="submenu-mobile languages" *ngIf="showLanguages">
            <li>
              <a style="text-decoration: unset;" data-value="es">Español</a>
            </li>
            <li>
              <a style="text-decoration: unset;" data-value="en">English</a>
            </li>
          </ul>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" [class.svg-burguer]="!isScrolled"
          (click)="toggleDiv($event)" class="svg-burguer">
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
        </svg>
        <ul class="submenu-mobile" *ngIf="showBurguer">
          <li>
            <a style="text-decoration: unset;" routerLink="/">{{ 'header.home' | translate }}</a>
          </li>
          <li>
            <a style="text-decoration: unset;" routerLink="/nosotros">{{ 'header.about' | translate }}</a>
          </li>
          <li>
            <a style="text-decoration: unset;" (click)="toggleDiv3($event)">{{ 'header.products' | translate }}</a>
            <ul class="submenu prod-mobile" *ngIf="showProductsMobile">
              <li><a routerLink="/productos/clarificacion-y-filtracion">{{ 'home.listProducts.titleProduct1' | translate }}</a></li>
              <li><a routerLink="/productos/sistemas-vapor-y-condensados">{{ 'home.listProducts.titleProduct2' | translate }}</a></li>
              <li><a routerLink="/productos/sistemas-enfriamento">{{ 'home.listProducts.titleProduct3' | translate }}</a></li>
              <li><a routerLink="/productos/diseno-plantas-tratamiento-aguas">{{ 'home.listProducts.titleProduct4' | translate }}</a></li>
              <li><a routerLink="/productos/industria-papelera">{{ 'home.listProducts.titleProduct5' | translate }}</a></li>
            </ul>
          </li>
          <li>
            <a style="text-decoration: unset;" routerLink="/contacto">{{ 'header.contact' | translate }}</a>
          </li>
          <li>
            <a style="text-decoration: unset;">{{ 'header.call' | translate }}</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
