<app-header></app-header>
<main>
  <div class="presentation-container">
    <!-- <video class="background-video" autoplay loop muted playsinline preload="auto" onloadedmetadata="true"> -->
    <video class="background-video" [muted]="'muted'" loop autoplay poster="assets/images/poster.jpg">
      <source src="assets/videos/water-treatment.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="curvy">
      <div class="presentation">
        <!-- <h1>Distribuciones Integrales HECA S.A. de C.V.</h1> -->
        <h1>{{ 'home.companyName' | translate}}</h1>
        <h2>{{ 'home.companyPresentation' | translate }}</h2>
      </div>
    </div>
  </div>
  <div class="container-quienes-somos">
    <div class="content-quienes-somos">
      <img src="assets/images/industry_plant.jpg" alt="Industry Plant">
      <div>
        <h1>{{ 'home.titleAbout' | translate }}</h1>
        <p>
          <strong>Distribuciones Integrales HECA</strong> {{ 'home.textAbout' | translate }}
          <br>
          <br>
          {{ 'home.textAbout2' | translate }}
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="container-nuestros-productos">
    <div class="content-nuestros-productos">
      <h1>Nuestros Productos</h1>
      <svg class="chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
      </svg>
      <svg class="chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path
          d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
      </svg>
      <div class="grid-container">
        <div class="grid-item">
          <img src="assets/images/hidraulica.jpeg" alt="">
          <div class="image-text">
            <p>Clarificación y Potabilización</p>
            <a href="">MÁS INFORMACIÓN</a>
          </div>
        </div>
        <div class="grid-item">
          <img src="assets/images/sistemas-de-enfriamiento.jpg" alt="">
          <div class="image-text">
            <p>Sistemas de Enfriamiento abiertos y cerrados</p>
            <a href="">MÁS INFORMACIÓN</a>
          </div>
        </div>
        <div class="grid-item">
          <img src="assets/images/sistemas-de-generacion-vapor.jpg" alt="">
          <div class="image-text">
            <p>Sistemas de Generación de Vapor y condensados</p>
            <a href="">MÁS INFORMACIÓN</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <h1 class="productos-title" [class.hidden]="isWide">{{ 'home.titleCarousel' | translate }}</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" [class.hidden]="isWide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/hidraulica.jpeg" class="d-block w-100" alt="..." style="aspect-ratio: 3/2;">
        <p>{{ 'home.listProducts.titleProduct1' | translate }}</p>
        <a class="button-mas" routerLink="/productos/clarificacion-y-filtracion">{{ 'home.buttonMoreInfo' | translate }}</a>
      </div>
      <div class="carousel-item">
        <img src="assets/images/sistemas-de-generacion-vapor.jpg" class="d-block w-100" alt="..."
          style="aspect-ratio: 3/2;">
        <p>{{ 'home.listProducts.titleProduct2' | translate }}</p>
        <a class="button-mas" routerLink="/productos/sistemas-vapor-y-condensados">{{ 'home.buttonMoreInfo' | translate }}</a>
      </div>
      <div class="carousel-item">
        <img src="assets/images/sistemas-de-enfriamiento.jpg" class="d-block w-100" alt="..."
          style="aspect-ratio: 3/2;">
        <p>{{ 'home.listProducts.titleProduct3' | translate }}</p>
        <a class="button-mas" routerLink="/productos/sistemas-enfriamento">{{ 'home.buttonMoreInfo' | translate }}</a>
      </div>
      <div class="carousel-item">
        <img src="assets/images/diseno-planta.jpg" class="d-block w-100" alt="..." style="aspect-ratio: 3/2;">
        <p>{{ 'home.listProducts.titleProduct4' | translate }}</p>
        <a class="button-mas" routerLink="/productos/diseno-plantas-tratamiento-aguas">{{ 'home.buttonMoreInfo' | translate }}</a>
      </div>
      <div class="carousel-item">
        <img src="assets/images/papelera.jpeg" class="d-block w-100" alt="..." style="aspect-ratio: 3/2;">
        <p>{{ 'home.listProducts.titleProduct5' | translate }}</p>
        <a class="button-mas" routerLink="/productos/industria-papelera">{{ 'home.buttonMoreInfo' | translate }}</a>
      </div>
      <!-- Add more carousel items here if needed -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"
        style="background-color: black !important; padding: 12px;"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"
        style="background-color: black !important; padding: 12px;"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- DIVIDER -->
  <div id="carouselExample" class="carousel slide container-nuestros-productos" data-ride="carousel"
    [class.hidden]="!isWide">
    <div class="carousel-inner">
      <h1 style="text-align: center; font-size: 3em;">{{ 'home.titleCarousel' | translate }}</h1>
      <div class="carousel-item active">
        <div class="content-nuestros-productos">
          <div class="grid-container">
            <div class="grid-item">
              <img src="assets/images/hidraulica.jpeg" class="d-block" alt="">
              <div class="image-text">
                <p>Clarificación y Potabilización</p>
                <a href="" routerLink="/productos/clarificacion-y-filtracion">{{ 'home.buttonMoreInfo' | translate }}</a>
              </div>
            </div>
            <div class="grid-item">
              <img src="assets/images/sistemas-de-enfriamiento.jpg" class="d-block" alt="">
              <div class="image-text">
                <p>Sistemas de Enfriamiento abiertos y cerrados</p>
                <a href="" routerLink="/productos/sistemas-enfriamento">{{ 'home.buttonMoreInfo' | translate }}</a>
              </div>
            </div>
            <div class="grid-item">
              <img src="assets/images/sistemas-de-generacion-vapor.jpg" class="d-block" alt="">
              <div class="image-text">
                <p>Sistemas de Generación de Vapor y condensados</p>
                <a href="" routerLink="/productos/sistemas-vapor-y-condensados">{{ 'home.buttonMoreInfo' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content-nuestros-productos">
          <div class="grid-container two">
            <!-- <div class="grid-item">
              <img src="assets/images/sistemas-de-enfriamiento.jpg" class="d-block" alt="">
              <div class="image-text">
                <p>Sistemas de Enfriamiento abiertos y cerrados</p>
                <a href="">MÁS INFORMACIÓN</a>
              </div>
            </div> -->
            <div class="grid-item">
              <img src="assets/images/diseno-planta.jpg" class="d-block" alt="">
              <div class="image-text">
                <p>Diseño de plantas de tratamiento de aguas</p>
                <a href="" routerLink="/productos/diseno-plantas-tratamiento-aguas">{{ 'home.buttonMoreInfo' | translate }}</a>
              </div>
            </div>
            <div class="grid-item">
              <img src="assets/images/papelera.jpeg" class="d-block" alt="">
              <div class="image-text">
                <p>Industria de Papel</p>
                <a href="" routerLink="/productos/industria-papelera">{{ 'home.buttonMoreInfo' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more carousel items here -->
    </div>
    <a class="carousel-control-prev" style="width: 10%;" href="#carouselExample" role="button" data-slide="prev">
      <svg style="height: auto; width: 28px;" data-slide="prev" class="chevron-left" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512">
        <path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
      </svg>
    </a>
    <a class="carousel-control-next" style="width: 10%;" href="#carouselExample" role="button" data-slide="next">
      <svg style="height: auto; width: 28px;" data-slide="next" class="chevron-right" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512">
        <path
          d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
      </svg>
    </a>
  </div>

  <div class="container-mx">
    <h1>{{ 'home.titleCoverage' | translate }}</h1>
    <div class="content-mx">
      <img class="img-mx" src="assets/images/mapa-alcance.png" alt="">
      <div class="circle-col">
        <div class="circle-text">
          <div class="circle" id="blue"></div>
          <p id="blue-txt"><span class="fancy-blue">{{ 'home.textCoverage1' | translate }}</span></p>
        </div>
        <div class="circle-text">
          <div class="circle" id="sky-blue"></div>
          <p id="sky-blue-txt"><span class="fancy-blue-sky">{{ 'home.textCoverage2' | translate }}</span></p>
        </div>
        <div class="circle-text">
          <div class="circle" id="green"></div>
          <p id="green-txt"><span class="fancy-green">{{ 'home.textCoverage3' | translate }}</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-clientes">
    <div class="content-clientes">
      <h1>{{ 'home.titleClients' | translate}}</h1>
      <div class="container" style="margin-top: 2em; max-width: 70%;">
        <div class="row">
          <div class="col">
            <div class="scroll-container" #scrollContainer>
              <div class="scroll-content" #scrollContent>
                <div class="scroll-item">
                  <img src="assets/images/img-1.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-2.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-3.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-4.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-5.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-6.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-7.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-8.png" alt="">
                </div>
                <div class="scroll-item">
                  <img src="assets/images/img-9.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</main>
<app-footer></app-footer>
